@font-face {
  font-family: 'DecoType';
  src: url(./assets/fonts/DecoTypeThuluth.ttf) format('truetype')
}

@font-face {
  font-family: 'AlQalam';
  src: url(./assets/fonts/AlQalamQuran.ttf) format('truetype')
}


* {
  font-family: 'AlQalam' !important
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header .inputs-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 100%;
  overflow-x: scroll;
}

.App-header .inputs-container::before, .App-header .inputs-container::after {
  content: ''; /* Insert space before the first item and after the last one */
}

.App-header .inputs-container .input-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around */
}

.App-header .inputs-container .input-elements .input{
  width: 100px;
  direction: rtl
}


.row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fixed {
  position: fixed;
  top: 10px;
  z-index: 100;
  background-color: rgb(0, 40, 99);
  box-shadow: 0 15px 15px 2px gray;
  border-radius: 10px;
  padding: 10px;
  width: 30%;
  color: white;
}

.sub-inputs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.outline {
  box-shadow: 6px 10px 15px 0px gray;
  width: 90%;
  margin: 20px;
  padding-bottom: 40px;
}

.row-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-plus-container {
  display: flex;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
