@font-face {
  font-family: 'DecoType';
  src: url(./assets/fonts/DecoTypeThuluth.ttf) format('truetype')
}

@font-face {
  font-family: 'AlQalam';
  src: url(./assets/fonts/AlQalamQuran.ttf) format('truetype')
}


* {
  font-family: 'AlQalam' !important
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header .inputs-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 100%;
  overflow-x: scroll;
}

.App-header .inputs-container::before, .App-header .inputs-container::after {
  content: ''; /* Insert space before the first item and after the last one */
}

.App-header .inputs-container .input-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.blur-container {
  position: relative;
  padding: 20px;
}

.inputs-container {
  position: relative;
  z-index: 1;
  /* Other styles for your input container */
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit; /* Set your desired background color or image */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  z-index: 2;
}

.circular-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3
}

.padding {
  padding: 10px;
}

.left-border {
  border-left: 1px solid #f9f9f9;
}

.right-border {
  border-right: 1px solid #f9f9f9;
}

.App-header .inputs-container .input-elements .input{
  width: 100px;
  direction: rtl
}

.animate {
  transition: width 0.3s ease; /* You can adjust the duration and timing function as needed */
}

.animate-height {
  transition: height 0.3s ease; /* You can adjust the duration and timing function as needed */
}

.animate-opacity {
  transition: opacity 0.3s ease; /* You can adjust the duration and timing function as needed */
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fixed {
  position: fixed;
  top: 10px;
  z-index: 100;
  background-color: rgb(0, 40, 99);
  box-shadow: 0 15px 15px 2px gray;
  border-radius: 10px;
  padding: 10px;
  width: 30%;
  color: white;
  min-width: 300px;
  opacity: 0.05;
}

.visible {
  opacity: 1;
}

.sub-inputs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.outline {
  box-shadow: 6px 10px 15px 0px gray;
  width: 90%;
  padding: 10px;
  margin: 20px;
  padding-bottom: 40px;
}

.row-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input-plus-container {
  display: flex;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
